Tuple()
- an ordered, immutable collection.
- a collection inside parenthesis( )
- allows duplicates

In [19]:
# create an empty tuple
empty =tuple()

In [21]:
print(empty)
type(empty)

()

tuple

In [3]:
# tuple containing names of bros and sisters
brothers = ('Josko','Bruno', 'Licha','Messi')
sisters = ('Roro', 'Saka', 'Kasongo', 'Tash')

In [5]:
type(brothers)
type(sisters)

tuple

In [22]:
# join brothers and sisters
siblings = brothers + sisters

In [23]:
print(siblings)
type(siblings)

('Josko', 'Bruno', 'Licha', 'Messi', 'Roro', 'Saka', 'Kasongo', 'Tash')

tuple

In [26]:
# siblings count
sibling_count=len(siblings)
print(sibling_count)

8

In [28]:
# modify siblings to add parents and rename to family_members
parents = ('mother','father')
family_members = siblings + parents
print(family_members)

('Josko', 'Bruno', 'Licha', 'Messi', 'Roro', 'Saka', 'Kasongo', 'Tash', 'mother', 'father')

DICTIONARY {'key':value}
- unordered data type stored in key-value pairs

In [1]:
my_dct= {'key1':'value1','key2':'value'}

In [3]:
# looping through a dictionary
for key,value in my_dct.items():
    print(f"{key}:{value}")

key1:value1
key2:value

In [4]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_married':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }
print(len(person)) # 7

7

SETS { }
- unordered collection of unique elements i.e doesn't allow duplicates

In [ ]:
QUEUES
- type of colle