In [3]:
print('Hello, World!')

Hello, World!

In [5]:
name = 'Gedion'
age = 25
phone_number = '09123456789'

In [6]:
print(name, age, phone_number)

Gedion 25 09123456789

Write a python comment saying 'Lux python programming'

Declare a first name variable and assign a value to it

Declare a last name variable and assign a value to it

Declare a full name variable and assign a value to it

Declare a country variable and assign a value to it

Declare a city variable and assign a value to it

Declare an age variable and assign a value to it

Declare a year variable and assign a value to it

Declare a variable is_married and assign a value to it
Declare a variable is_true and assign a value to it

Declare a variable is_light_on and assign a value to it

Declare multiple variable on one line

In [7]:
'Lux Dev Python Programming'

'Lux Dev Python Programming'

In [8]:
first_name = 'Gedion'
last_name = 'Sang'
full_name = first_name + ' ' + last_name
city = 'Kiambu'
age = 25
year = 2025
is_married = False

is_true = True
is_false = False

is_light_on = True

first_name, last_name, full_name, city, age, year, is_married, is_true, is_false, is_light_on

('Gedion', 'Sang', 'Gedion Sang', 'Kiambu', 25, 2025, False, True, False, True)

DELETING VARIABLES
- # Use the del keyword to delete variables
- syntax: del variable_name

In [3]:
is_light_on = False
print(is_light_on)

False

In [4]:
del is_light_on

In [5]:
print(is_light_on)

NameError: name 'is_light_on' is not defined

LOOPS IN PYTHON
- loops are used to execute a block of code multiple times
- they help in reducing redundaancy and making the code more readable and efficient
- why use loops?
    - automate repetitive tasks
    - make the code more concise and easier to understand
    - reduce errors and code duplication

- Types of loops in Python
    - for loop - used for iterating over a sequence (like a list or tuple)
    - while loop - used for executing a block of code repeatedly as long as a condition is true

FOR LOOPS
- used to iterate over a sequence (like a list or tuple)
- for variable_name in sequence

In [6]:
# list of different types of fruits
fruits = ['banana', 'apple', 'mango', 'orange']

In [7]:
print(fruits)

['banana', 'apple', 'mango', 'orange']

In [8]:
for i in fruits:
    print(i)

banana
apple
mango
orange

In [9]:
language= 'Python'
for letter in language:
    print(letter)
# iterate over each character in the string

P
y
t
h
o
n

In [10]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

WHILE LOOP
- the while loop executes a block of code repeatedly as long as a condition is true
- syntax:
    variable
    while condition:
    print(statement)
    break statement - used to exit the loop immediately

    - the condition should be a boolean expression that evaluates to True or False
    - the loop continues to execute the block of code as long as the condition remains True
    - the loop stops when the condition becomes False

In [3]:
number1 = 2

while number1 <= 5:
    print(number1)
    number1 += 1

2
3
4
5

In [4]:
# while loop that only prints 0, 1, 2, but when it reaches 3, it stops - break statement is used
count = 0
while count < 5:
    print(count)
    count += 1
    if count == 3:
        break

0
1
2

In [7]:
count = 0
while count < 5:
    print(count)
    count = count + 1
    continue
    print(count)
    count = count + 1

0
1
2
3
4

In [5]:
# while loop that calculates the sum of numbers from 1 to 10
count = 1
sum = 0

while count <= 10:
    sum += count
    count += 1
print(sum)

55

1. Iterate through the list ['Python', 'Numpy', 'Pandas,'Django', 'Flask'] using a for loop and print out the items.
2. Use for loop to iterate from 0 to 100 and print only even numbers.
3. Use for loop to iterate from 0 to 100 and print only odd numbers.

In [8]:
imports = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']

for item in imports:
    print(item)

Python
Numpy
Pandas
Django
Flask

In [13]:
count = 0

for number in range(101):
    if number % 2 == 0:
        print(number, end=' ')
    count += 1

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [12]:
count = 0

for number in range(101):
    if number % 2!= 0:
        print(number, end=' ')
    count += 1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [15]:
# prime numbers between 1 and 100
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [22]:
for num in range(2, 101):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
            if i == num - 1:
             print(num, end=' ')

3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [24]:
# print numbers from 1 to 10

for i in range(1, 11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [36]:
# print even nuumbers from 2 to 20
count = 0

for num in range(2, 21):
    if num % 2 == 0:
        print(num, end=' ')

2 4 6 8 10 12 14 16 18 20

In [37]:
# print each character in the string 'Python'
word = 'Python'
for i in word:
    print(i, end=' ')

P y t h o n

WHILE LOOP
1. Print numbers from 1 to 10
2. Sum of numbers from 1 to 5

In [38]:
# print numbers from 1 to 10

count = 1
while count <= 10:
    print(count, end=' ')
    count += 1

1 2 3 4 5 6 7 8 9 10

In [51]:
# sum of numbers from 1 to 5
count = 1
sum = 0
while count <= 5:
    sum = sum + count
    count = count + 1
    print (sum)

1
3
6
10
15

In [52]:
total = 0
i = 1
while i <= 5:
    total += i
    i += 1
    print(total)

1
3
6
10
15

In [53]:
count = 1
sum = 0
while count <= 5:
    sum += count
    count += 1
    print(sum)

1
3
6
10
15

In [54]:
# for loop that calculates the sum of numbers from 1 to 5

sum = 0
for i in range(1, 6):
    sum += i
print(sum)
# while loop that calculates the sum of numbers from 1 to 5

15

In [58]:
# while loop that calculates the sum of numbers from 1 to 5

sum = 0
count = 1
while count <= 5:
    sum += count
    count += 1
print(sum)

15

In [57]:
print(sum)

15

In [2]:
# while loop to find the fibonacci sequence of the first 10 numbers
n = 10
n1 = 0
n2 = 1
count = 0
while count < n:
    print(n1, end=' ')
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count += 1

0 1 1 2 3 5 8 13 21 34