FUNCTIONS

- len(), type(), print() are functions that take arguments

DEFINING FUNCTIONS
- we use the def keyword

In [59]:
profit = 34000
cost = 5634

In [60]:
total = profit + cost
total

39634

In [61]:
def add (profit, cost):
    return profit + cost

In [62]:
addition = add (profit,cost)
print (addition)

39634

In [63]:
def add(profit, cost):
    revenue = profit + cost
    print (revenue)
add(profit,cost)

39634

In [64]:
def divide(profit, cost):
    return profit/cost

In [110]:
div2 = profit/cost
print(div2)

6.034788782392616

In [66]:
def sub_name():
    sub = profit - cost
    print(sub)
sub_name()

28366

In [67]:
def multi_num():
    multi = profit * cost
    print(multi)
multi_num()

191556000

In [68]:
def div_num():
    div = profit/cost
    print(div)
div_num()

6.034788782392616

In [69]:
for i in range (11):
    if i % 2 == 0:
        print(i, end= ' ')

0 2 4 6 8 10

In [70]:
def is_even():
    num = int(input('Enter number:'))
    if num % 2 == 0 and num <= 11:
        print(num, 'is Even')
    elif num % 2 != 0 and num <= 11:
        print(num,'is Odd')
    else:
        print(num, 'is Invalid!')  
is_even()

23 is Invalid!

In [93]:
def is_even2():
    num = int(input('Enter number: '))
    
    if num <= 11:
        result = num % 2 == 0  # This will be True if even, False if odd
        print(num, 'is Even' if result else 'is Odd')
        return bool(result)  # Explicitly converting to boolean
    else:
        print(num, 'is Invalid!')
        return None
is_even2()

10 is Even

True

In [71]:
def even():
    number = input('Enter number: ')
    for number in range(11):
        if number % 2 == 0:
            print(number)
even()

0
2
4
6
8
10

In [83]:
# Eric's
def is_even():
    number2 = int(input("Enter Number: "))
    if number2 not in range(1,11):
        print("Please enter number from 1 to 10")
    else:
        if number2 % 2 == 0:
            return True
        else:
            return False

In [84]:
def even(number):
    return number % 2 == 0
even(20)

True

In [74]:
a = 45
b = 30

n = 22/7
r  = 7

In [75]:
# declare funtion that adds two numbers
def adds_two_num():
    c = a + b
    print(c)
adds_two_num()

75

In [ ]:
# Area of a circle is calculated as follows: area = π x r x r.
# Write a function that calculates area_of_circle.
π=3.142
r=2  
def area_of_circle(π,r):
    return(π*r**2)
area_of_circle=area_of_circle(π,r)
area_of_circle

154.0

In [ ]:
# Write a function called add_all_nums which takes arbitrary 
# number of arguments and sums all the arguments.
# Check if all the list items are number types.
# If not do give a reasonable feedback.

12.568

In [78]:
# Temperature in °C can be converted to °F using this formula: °F = (°C x 9/5) + 32. 
# Write a function which converts °C to °F, convert_celsius_to-fahrenheit.
temp = 43.5
def celsius_to_fahrenheit():
    fahrenheit = ( temp * 9/5) + 32
    print(fahrenheit)
celsius_to_fahrenheit()

110.3

In [102]:
Autumn = ["Jan", "Feb", "Mar"]
Winter = ["Apr", "May", "Jun"]
Spring = ["Jul", "Aug", "Sep"]
Summer = ["Oct", "Nov", "Dec"]

In [109]:
# Write a function called check-season, it takes a month parameter 
# and returns the season: Autumn, Winter, Spring or Summer.
def check_season():
   
    Autumn = ["Jan", "Feb", "Mar"]
    Winter = ["Apr", "May", "Jun"]
    Spring = ["Jul", "Aug", "Sep"]
    Summer = ["Oct", "Nov", "Dec"]
month = input('Enter month: ')
if month in Autumn:
    print("Autumn")
elif month in Winter:
    print("Winter")
elif month in Spring:
    print("Spring")
elif month in Summer:
    print("Summer")
else:
    print("Invalid month")

check_season()

Autumn

In [ ]:
# Write a function called calculate_slope 
# which return the slope of a linear equation 
def calculate_slope(x1,x2,y1,y2):
    if (x1-x2) == 0:
        return "undefined"
    return(y2-y1) / (x2-x1)

In [90]:
# Quadratic equation is calculated as follows: ax² + bx + c = 0. 
# Write a function which calculates solution set of a quadratic equation, solve_quadratic_eqn.
import math 
def equationroots( a, b, c): 

    discri = (b * b - 4 * a * c )

    sqrtval = math.sqrt(abs(discri))
# checking condition for discriminant

    if discri > 0: 

        print(" real and different roots ") 

        print((-b + sqrtval)/(2 * a)) 

        print((-b - sqrtval)/(2 * a)) 

      

    elif discri == 0: 

        print(" real and same roots") 

        print(-b / (2 * a)) 

      

    # when discriminant is less than 0

    else:

        print("Complex Roots") 

        print(- b / (2 * a), " + i", sqrtval) 

        print(- b / (2 * a), " - i", sqrtval)

In [ ]:
# Declare a function named print_list.
# It takes a list as a parameter and it prints out each element of the list.
cars_yard = ["Toyota","Isuzu","Honda","Audi","Subaru"]

def print_list(cars_yard):
    return (cars_yard)
print_list=print_list(cars_yard)
print_list

['Toyota', 'Isuzu', 'Honda', 'Audi', 'Subaru']

In [2]:
# function that returns a greeting
def greet():
    print('Heyy:)!')
greet()

Heyy:)!

In [ ]:
a = 2000
b = 3
def multi_add():
    multi = a * b
    print("Value of multiplication = ", multi)
    return multi

    addi = a + b
    print("Value of addition = ",addi)
    return addi
multi_add()

Value of multiplication =  6000

6000

In [8]:
def division():
    return a/b
division()

666.6666666666666

In [12]:
def age_name(name, age):
    return f"My name is {name} and I am {age} years young :)"
age_name('Ezra', 24)

'My name is Ezra and I am 24 years young :)'

In [13]:
R = 45000
C = 30000

In [14]:
def profit(R,C):
    return f'Hello customer, your profit is: {R - C}'

In [15]:
profit(R,C)

'Hello customer, your profit is: 15000'

In [16]:
R = 45000
C = 30000
def profit(R,C):
    return f'Hello customer, your profit is: {R - C}'
profit(R,C)

'Hello customer, your profit is: 15000'

Lambda Functions
- Lambda functions are anonymous, single-expression functions.

In [17]:
# square using lambda function
x = 4
y = 6

In [21]:
square = lambda y: x * x
square(4)

16

In [22]:
square = lambda x,y: x-y
square(6,4)

2

In [23]:
name_age = lambda name, age: f"Your name is {name} and my age-mate is (age) years old!"
name = input("Enter name: ")
age = int(input("Enter age: "))

In [25]:
name_age(name, age)

'Your name is Grace and my age-mate is (age) years old!'

Recursive Functions
- is a function that calls itself

In [6]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)
factorial(6) # 1*2*3*4*5*6

720

Function Annotations
- allow us to specify types for function parameters and return values

In [13]:
def prof_calc(revenue: float, cost: float) -> float:
    return revenue - cost
prof_calc(6000.34,484.34)
type(prof_calc(6000.34,484.34))

float

In [14]:
prof_calc(6000.34,484.34)

5516.0

LIST COMPREHENSION
- faster way of printing out the items in a list
> syntax:
--- i for i in an iterable if expression

In [1]:
fruits = ['apple', 'mangoes','tomatoes']
for fruit in fruits:
    print(fruits)

['apple', 'mangoes', 'tomatoes']
['apple', 'mangoes', 'tomatoes']
['apple', 'mangoes', 'tomatoes']

In [4]:
# change a string to a list of characters
language = 'Python'
lst = list(language)
lst

['P', 'y', 't', 'h', 'o', 'n']

In [3]:
# gen a list of numbers
numbers = [ n for n in range(0,11)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# get squares of numbers
# squares = number ** 2
numbers = [n * n for n in range(0,11)]
numbers

list

In [17]:
# get squares and store them in a tuple
numbers = [(n,n * n) for n in range(0,11)]
numbers

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100)]

In [8]:
# get sum of numbers
numbers = [ n + n for n in range(0,11)]
numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

LIST COMPREHENSION WITH IF STATEMENT

In [18]:
even = [ i for i in range(21) if i % 2 == 0]
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
odd = [i for i in range (21) if i % 2 != 0]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [20]:
# 
nums = [-8,-5,-2,1,4,7]

In [23]:
positive_nums = [ i for i in nums if i % 2 == 0 and i > 0]
positive_nums

[4]

In [25]:
negative_nums = [ i for i in nums if i % 2 != 0 and i < 0]
negative_nums

[-5]

In [27]:
list_list = [[1,2,3],[4,5,6],[7,8,9]]
list_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [28]:
flat_list = [ number * 10 for row in list_list for number in row]
flat_list

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [33]:
countries = [ 'Kenya','uganda', 'tanzania','Rwanda','burundi']
countries_1 = [ words.capitalize() for words in countries]
countries_1

['Kenya', 'Uganda', 'Tanzania', 'Rwanda', 'Burundi']

In [ ]:
# 
num_list = [ -4,-3,-2,-1,0,2,4,6]
neg_zero =[i for i in num_list if i <= 0]
neg_zero

[-4, -3, -2, -1, 0]

In [62]:
list_of_lists = [[[1,2,3]],[[4,5,6]],[[7,8,9]]]
flatten_list = [number for sublist1 in list_of_lists for sublist2 in sublist1 for number in sublist2]
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
values = [(0, 1, 0, 0, 0, 0, 0), (1, 1, 1, 1, 1, 1, 1), (2, 1, 2, 4, 8, 16, 32), (3, 1, 3, 9, 27, 81, 243), (4, 1, 4, 16, 64, 256, 1024), (5, 1, 5, 25, 125, 625, 3125), (6, 1, 6, 36, 216, 1296, 7776), (7, 1, 7, 49, 343, 2401, 16807), (8, 1, 8, 64, 512, 4096, 32768), (9, 1, 9, 81, 729, 6561, 59049), (10, 1, 10, 100, 1000, 10000, 100000)]
tuples= [(i,1,i,i**2,i**3,i**4,i**5)for i in range(11)]
tuples

[(0, 1, 0, 0, 0, 0, 0),
 (1, 1, 1, 1, 1, 1, 1),
 (2, 1, 2, 4, 8, 16, 32),
 (3, 1, 3, 9, 27, 81, 243),
 (4, 1, 4, 16, 64, 256, 1024),
 (5, 1, 5, 25, 125, 625, 3125),
 (6, 1, 6, 36, 216, 1296, 7776),
 (7, 1, 7, 49, 343, 2401, 16807),
 (8, 1, 8, 64, 512, 4096, 32768),
 (9, 1, 9, 81, 729, 6561, 59049),
 (10, 1, 10, 100, 1000, 10000, 100000)]

In [68]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

In [70]:
flattened_list=[[country.upper(), country[:3].upper(), capital.upper()] for row in countries for country, capital in row]
flattened_list

[['FINLAND', 'FIN', 'HELSINKI'],
 ['SWEDEN', 'SWE', 'STOCKHOLM'],
 ['NORWAY', 'NOR', 'OSLO']]

In [71]:
dict_countries = [{'country': country.upper(), 'city': city.upper()} for [(country, city)] in countries]
dict_countries

[{'country': 'FINLAND', 'city': 'HELSINKI'},
 {'country': 'SWEDEN', 'city': 'STOCKHOLM'},
 {'country': 'NORWAY', 'city': 'OSLO'}]

In [75]:
hours = int(input('Provide the number of hours worked in a month: '))
hourly_rate = 10
overtime = 15
if hours <= 160:
  print('Total earnings = ', hours * hourly_rate)
elif hours > 160:
  print('Total earnings = ', ((hours * hourly_rate) + ((hours-160) * (overtime))))
else:
  print('Invalid')
  print(hours)

Total earnings =  1625